{% extends './partials/_layout.twig' %}

{% block body %}

    {% if model.hasSession %}
        <h4>Hey,
            <span class="nowrap">{{ model.fullName }}</span>
        </h4>
        <div>
            <img src="{{ model.photo }}" alt="" />
        </div>
        {% if model.hasPermission %}
            <a href="#open-door" id="doro-opener" class="button -good -hidden">
                Open the door
                <span>Opening</span>
            </a>
            <span class="error">Error happened. Please contact Lubo.</span>
        {% endif %}
        <a href="/logout" class="button -bad">Log out</a>
    {% else %}
        <h4>Who are you?</h4>
        <a href="/fb" class="button -fb">Log in using FB</a>
    {% endif %}

{% endblock body %}

{% if model.hasPermission %}
    {% block js %}
        <script src="/axios/axios.min.js"></script>
        <script src="/assets/js/main.js"></script>
    {% endblock %}
{% endif %}
